@using qengyValidator.Library
@page "/"

<PageTitle>qengy Validator - Project with classes that facilitate the validation of certain functions</PageTitle>

<MudContainer Class="py-5 px-5 mud-secondary">
    <MudText Typo="Typo.h5" Align="Align.Center" Class="pb-5"><b>Project with classes that facilitate the validation of certain functions</b></MudText>
    <MudText Align="Align.Center">My name is <b>Pablo Cano</b> and I am a Developer in .NET Technologies. I am an accomplished coder and programmer, and I enjoy using my skills to contribute to the exciting technological advances that happen every day.</MudText>
</MudContainer>

<div Class="py-5 px-5 mud-theme-primary">
    <MudText Typo="Typo.h5" Align="Align.Center" Color="Color.Dark"><b>Methods to facilitate the validation of fiscal identifiers in Spain</b></MudText>
</div>

<MudContainer Class="py-5 px-5 mud-secondary">
    <MudDivider/>
    <MudGrid Class="py-5">
        <MudItem xs="12" sm="12" md="4" Class="d-flex align-center">
            <MudPaper Elevation="0" Class="mud-width-full">
                <MudText>Function that based on the regex of document returns the type of document</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="0" Class="mud-width-full">
                <MudTextField @bind-Value="VTIN_GDT_Document" Label="Document" Variant="Variant.Outlined" FullWidth="true" TextChanged="VTIN_GDT_Text_Changed"></MudTextField>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4" Class="d-flex align-center">
            <MudPaper Elevation="0" Class="mud-width-full">
                <MudText>@VTIN_GDT_Response</MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>
    <MudDivider />
    <MudGrid Class="py-5">
        <MudItem xs="12" sm="12" md="4" Class="d-flex align-center">
            <MudPaper Elevation="0" Class="mud-width-full">
                <MudText>Function that based on the regex of document returns the type of document and indicate if it is valid</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="0" Class="mud-width-full">
                <MudTextField @bind-Value="VTIN_VD_Document" Label="Document" Variant="Variant.Outlined" FullWidth="true" TextChanged="VTIN_VD_Text_Changed"></MudTextField>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4" Class="d-flex align-center">
            <MudPaper Elevation="0" Class="mud-width-full">
                <MudText>@VTIN_VD_Response</MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>
    <MudDivider />
    <MudGrid Class="py-5">
        <MudItem xs="12" sm="12" md="4" Class="d-flex align-center">
            <MudPaper Elevation="0" Class="mud-width-full">
                <MudText>Function that calculate the NIF control letter</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="0" Class="mud-width-full">
                <MudTextField @bind-Value="VTIN_CCN_Document" Label="Document" Variant="Variant.Outlined" FullWidth="true" TextChanged="VTIN_CCN_Text_Changed"></MudTextField>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4" Class="d-flex align-center">
            <MudPaper Elevation="0" Class="mud-width-full">
                <MudText>@VTIN_CCN_Response</MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>
    <MudDivider />
</MudContainer>

<div Class="py-5 px-5 mud-theme-primary">
    <MudText Typo="Typo.h5" Align="Align.Center" Color="Color.Dark"><b>Methods to validate the Universal Supply Point Code (CUPS) or POD(Point of Delivery) in Spain</b></MudText>
</div>

<MudContainer Class="py-5 px-5 mud-secondary">
    <MudDivider/>
    <MudGrid Class="py-5">
        <MudItem xs="12" sm="12" md="4" Class="d-flex align-center">
            <MudPaper Elevation="0" Class="mud-width-full">
                <MudText>Function that validate CUPS</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="0" Class="mud-width-full">
                <MudTextField @bind-Value="VC_VD_Document" Label="CUPS" Variant="Variant.Outlined" FullWidth="true" TextChanged="VC_VD_Text_Changed"></MudTextField>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4" Class="d-flex align-center">
            <MudPaper Elevation="0" Class="mud-width-full">
                <MudText>@VC_VD_Response</MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>
    <MudDivider />
</MudContainer>

<div Class="py-10 px-5 mud-theme-primary">
    <MudImage Src="imgs/logo-mono.png" Width="50"></MudImage>
    <MudText Color="Color.Dark"><b>admin@qengy.com</b></MudText>
    <MudText Color="Color.Dark">Copyright © 2022 qengy.</MudText>
</div>

@code {
    public string? VTIN_GDT_Document { get; set; }
    public string? VTIN_GDT_Response { get; set; }
    public string? VTIN_VD_Document { get; set; }
    public string? VTIN_VD_Response { get; set; }
    public string? VTIN_CCN_Document { get; set; }
    public string? VTIN_CCN_Response { get; set; }
    public string? VC_VD_Document { get; set; }
    public string? VC_VD_Response { get; set; }


    void VTIN_GDT_Text_Changed()
    {
        clsValidateTaxIdentificationNumber cls = new clsValidateTaxIdentificationNumber();
        VTIN_GDT_Response = "Type: "  + cls.GetDocumentType(VTIN_GDT_Document).ToString();
    }

    void VTIN_VD_Text_Changed()
    {
        clsValidateTaxIdentificationNumber cls = new clsValidateTaxIdentificationNumber();
        var ret = cls.ValidateDocument(VTIN_VD_Document);
        VTIN_VD_Response = "Type: "  + ret.Item1.ToString() + " - Valid: " + ret.Item2.ToString();
    }
    
    void VTIN_CCN_Text_Changed()
    {
        clsValidateTaxIdentificationNumber cls = new clsValidateTaxIdentificationNumber();
        var ret = cls.CalculateControlNIF(VTIN_CCN_Document);
        VTIN_CCN_Response = "Type: "  + ret.Item1.ToString() + " - Letter Control: " + ret.Item2.ToString();
    }
    
    void VC_VD_Text_Changed()
    {
        clsValidateCUPS cls = new clsValidateCUPS();
        var ret = cls.ValidateDocument(VC_VD_Document);
        VC_VD_Response = "Is Valid?: "  + ret.ToString();
    }
}